:root{
   --scale-15: 15px;
   --scale-16: 16px;
   --scale-17: 17px;
}

html{
   font-size: var(--scale-16);
}

.fsz-90{
   font-size: 90% !important;
}
.fsz-80{
   font-size: 80% !important;
}

.fsz-l{
   font-size: 1.5rem !important;
}
.fsz-m{
   font-size: 1.125rem !important;
}
.fsz-normal{
   font-size: 1rem !important;
}
.fsz-s{
   font-size: 0.8125rem !important;
}
.fsz-xs{
   font-size: 0.75rem !important;
}
.title{
   font-size: 2rem !important;
}
