figure:has(blockquote){
   padding: 4rem 0 6rem 4rem;
}

blockquote,
figcaption{
   font-family: var(--font-serif-jp);
   font-size: 0.9375em;
   line-height: inherit;
   letter-spacing: -0.6px;
   font-weight: 300;
   font-style: italic;
}

figcaption{
   padding-top: 1em;
   text-align: right;
   padding-right: 3em;
}/*
figcaption{
   border: 1px solid red;
}/**/

blockquote > h2{
   font-size: 2rem !important;
   margin-top: 0 !important;
}
blockquote.pre-wrap{
   white-space: pre-wrap;
}

