<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>Checkbox</title>
   <link rel="stylesheet" href="checkbox.css" />
</head>
<body>
   <form action="">
      <input type="checkbox" id="cbox-1"/>
      <label for="cbox-1">label-1</label><br />
      <input type="checkbox" id="cbox-2"/>
      <label for="cbox-2">label-2</label><br />
      <input type="checkbox" id="cbox-3"/>
      <label for="cbox-3">label-3</label>
   </form>
   
   <div>
      <input type="checkbox" id="initial-1" class="initial" />
      <label for="initial-1">label-normal</label><br />
      <input type="checkbox" id="initial-2" class="initial" />
      <label for="initial-2">label-normal</label>
   </div>
</body>
</html>