<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>Data List</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
   <link rel="stylesheet" href="../../../css/_ini.css" />
   <script type="module" src="../../../js/_ini.js"></script>
   <script type="module" src="../../../lib/Prism.js/_ini.js"></script>
   <script type="module" src="../../../modules/_ini.js"></script>
   <link rel="stylesheet" href="dataList.css" />
   
</head>


<body style="padding-top: 6rem;">
   <div class="main text card">
   <dl>
      <dt>絶対パスの、先頭の`/`</dt>
      <dd>ルートと呼ばれます。日本語で言うと「根源」と言う意味になります。</dd>
      
      <dt>絶対パスの、先頭以外の`/`</dt>
      <dd>セパレーター(separator)と呼ばれ、ディレクトリを区分する為に使われます。</dd>
      
      <dt>{絶対/相対}パスの、末尾の`/`</dt>
      <dd>直前の名前がディレクトリである事を示しています。省略可。</dd>
   </dl>
   
</div>
</body>
</html>