.output{
   position: relative;
   padding: 1.25rem;
   margin-top: 3rem;
}
.output::before{
   content: 'OUTPUT';
   position: absolute;
   left: 0;
   bottom: 100%;
   display: table;
   font-size: 0.5rem;
   padding-top: 1em;
   padding-right: 1em;
   padding-left: 1em;
   font-family: monospace;
}