<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
   <link rel="stylesheet" href="table.css" />
   <title>Document</title>
</head>
<body>
   
   
   <table class="">
      <tr>
         <th>heading1</th>
         <th>heading2</th>
         <th>heading3</th>
      </tr>
      <tr>
         <td>lorem</td>
         <td>Lorem ipsum dolor sit amet, Lorem ipsum Lorem </td>
         <td>lorem2</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
   </table>
   
   <table class="fix row row1 column col1" style="height: 300px; margin-top: 4rem;">
      <tr>
         <th>heading1</th>
         <th>heading2</th>
         <th>heading3</th>
         <th>heading1</th>
         <th>heading2</th>
         <th>heading3</th>
         <th>heading1</th>
         <th>heading2</th>
         <th>heading3</th>
         <th>heading1</th>
         <th>heading2</th>
         <th>heading3</th>
         
      </tr>
      <tr>
         <td>lorem</td>
         <td>Lorem ipsum dolor sit amet, Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ducimus, doloremque, cum, dignissimos ratione in laborum sed inventore optio animi deleniti voluptas nam repellat autem esse distinctio officia quo nisi!</td>
         <td>lorem2</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
      <tr>
         <td>item1</td>
         <td>item2</td>
         <td>item3</td>
      </tr>
   </table>
   
   
   
</body>
</html>